#intro
  h1 Stephan Bönnemann
  p
    span Last seen in #{''}
      a#location …
    br
    span
      | I #{''}
      a(href='https://github.com/boennemann') code
      | , #{''}
      a(href='https://twitter.com/boennemann') tweet
      |  and #{''}
      a(href='http://lanyrd.com/profile/boennemann/') talk
    br
    span I contribute to #{''}
      a(href='http://hood.ie') hoodie
    br
    span I organized #{''}
      a(href='https://conc.at') .concat()
    br
    span I take #{''}
      a(href='https://instagram.com/boennemann') photos
